<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projekpati.com.projekpati">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Pendidikan.CariPendidikan"></activity>
        <activity android:name=".Pendidikan.DetilPendidikan" />
        <activity android:name=".Kuliner.DataSaringActivity" />
        <activity android:name=".Pendidikan.DataSaringPendidikanActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".Kuliner.TampilJenisMakanan" />
        <activity android:name=".LoginActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <activity android:name=".Tukang.DetilTukang"></activity>
        <activity android:name=".Tukang.CariTukang"></activity>
        <activity android:name=".Tukang.TampilTukangByJenis" />
        <activity android:name=".Kuliner.DetailMap" />
        <activity android:name=".Pendidikan.DetilMapPendidikan" />
        <activity android:name=".Tukang.MenuTukang"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Tukang.DetailMapTukang"/>
        <activity android:name=".Tukang.DataSaringTukangActivity" />
        <activity android:name=".Pariwisata.DetilPariwisata"></activity>
        <activity android:name=".Pariwisata.CariPariwisata" />
        <activity android:name=".Pariwisata.TampilPariwisataByJenis" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity android:name=".Kuliner.CariKuliner" />
        <activity android:name=".Kuliner.TampilKulinerByJenis" />
        <activity android:name=".Pendidikan.TampilPendidikanByJenis" />
        <activity android:name=".Kuliner.DetilKuliner" />
        <activity android:name=".Kesehatan.TampilKesehatanByJenis"></activity>
        <activity android:name=".Pariwisata.MenuPariwisata"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Pariwisata.DetilMapPariwisata" />
        <activity android:name=".Pariwisata.DataSaringPariwisataActivity" />

        <activity android:name=".Kesehatan.MenuKesehatan"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Kesehatan.DetilMapKesehatan" />
        <activity android:name=".Kesehatan.DataSaringKesehatanActivity" />
        <activity
            android:name=".Pendidikan.MenuPendidikan"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Kuliner.MenuKuliner"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

    </application>

</manifest>