<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projekpati.com.projekpati">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".BeritaOnline.TampilBeritaOnlineByJenis"></activity>
        <activity android:name=".BeritaOnline.DetilBeritaOnline" />
        <activity android:name=".BeritaOnline.CariBeritaOnline" />
        <activity android:name=".BeritaCetak.TampilBeritaCetakByJenis"></activity>
        <activity android:name=".BeritaCetak.DetilBeritaCetak" />
        <activity android:name=".BeritaCetak.CariBeritaCetak" />
        <activity android:name=".BeritaCetak.MenuBeritaCetak" />
        <activity android:name=".BeritaOnline.BeritaOnlineAdapter" />
        <activity android:name=".BeritaOnline.MenuBeritaOnline" />
        <activity android:name=".addGambarAdapter" />
        <activity android:name=".Pendidikan.EditPendidikanActivity" />
        <activity android:name=".Kerjaan.TampilKerjaanByJenis" />
        <activity
            android:name=".Kerjaan.MenuKerjaan"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Kerjaan.JenisKerjaanAdapter" />
        <activity android:name=".Kerjaan.DetilMapKerjaan" />
        <activity android:name=".Kerjaan.DetilKerjaan" />
        <activity android:name=".Kerjaan.DataSaringKerjaanActivity" />
        <activity android:name=".Kerjaan.CariKerjaan" />
        <activity android:name=".Otomotif.TampilOtomotifByJenis" />
        <activity
            android:name=".Otomotif.MenuOtomotif"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Otomotif.DetilOtomotif" />
        <activity android:name=".Otomotif.DetilMapOtomotif" />
        <activity android:name=".Otomotif.DataSaringOtomotifActivity" />
        <activity android:name=".Otomotif.CariOtomotif" />
        <activity android:name=".Lapak.TampilLapakByJenis" />
        <activity android:name=".Lapak.DetilLapak" />
        <activity android:name=".Lapak.DataSaringLapakActicity" />
        <activity android:name=".Lapak.DetilMapLapak" />
        <activity
            android:name=".Lapak.MenuLapak"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Lapak.CariLapak" />
        <activity android:name=".Aspirasi.DataSaringAspirasiActivity" />
        <activity android:name=".Aspirasi.DetilMapAspirasi" />
        <activity android:name=".Aspirasi.DetilAspirasi" />
        <activity android:name=".Aspirasi.TampilAspirasiByJenis" />
        <activity android:name=".Aspirasi.CariAspirasi" />
        <activity android:name=".Agenda.TampilAgendaByJenis" />
        <activity
            android:name=".Agenda.MenuAgenda"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Agenda.DetilMapAgenda" />
        <activity android:name=".Agenda.DetilAgenda" />
        <activity android:name=".Agenda.DataSaringAgendaActivity" />
        <activity android:name=".Agenda.CariAgenda" />
        <activity
            android:name=".Aspirasi.MenuAspirasi"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Koperasi.TampilKoperasiByJenis" />
        <activity android:name=".bioskop.TampilBioskopByJenis" />
        <activity android:name=".Hotel.TampilHotelByJenis" />
        <activity android:name=".Spbu.TampilSpbuByJenis" />
        <activity android:name=".Salon.TampilSalonByJenis" />
        <activity android:name=".Polisi.TampilPolisiByJenis" />
        <activity android:name=".Olahraga.TampilOlahragaByJenis" />
        <activity android:name=".Spbu.DataSaringSpbuActivity" />
        <activity android:name=".Spbu.DetilSpbu" />
        <activity android:name=".Spbu.CariSpbu" />
        <activity android:name=".Spbu.DetilMapSpbu" />
        <activity
            android:name=".Spbu.MenuSpbu"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Salon.DataSaringSalonActivity" />
        <activity android:name=".Salon.DetilSalon" />
        <activity android:name=".Salon.CariSalon" />
        <activity android:name=".Salon.DetilMapSalon" />
        <activity
            android:name=".Salon.MenuSalon"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Polisi.DataSaringPolisiActivity" />
        <activity android:name=".Polisi.DetilPolisi" />
        <activity android:name=".Polisi.CariPolisi" />
        <activity android:name=".Polisi.DetilMapPolisi" />
        <activity
            android:name=".Polisi.MenuPolisi"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Olahraga.DataSaringOlahragaActivity" />
        <activity android:name=".Olahraga.DetilOlahraga" />
        <activity android:name=".Olahraga.CariOlahraga" />
        <activity android:name=".Olahraga.DetilMapOlahraga" />
        <activity
            android:name=".Olahraga.MenuOlahraga"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Koperasi.DataSaringKoperasiActivity" />
        <activity android:name=".Hotel.DataSaringHotelActivity" />
        <activity android:name=".bioskop.DataSaringBioskopActivity" />
        <activity android:name=".Bank.DataSaringBankActivity" />
        <activity android:name=".Koperasi.DetilKoperasi" />
        <activity android:name=".Hotel.DetilHotel" />
        <activity android:name=".bioskop.DetilBioskop" />
        <activity android:name=".Bank.DetilBank" />
        <activity android:name=".Bank.TampilBankByJenis" />
        <activity android:name=".Koperasi.CariKoperasi" />
        <activity android:name=".Hotel.CariHotel" />
        <activity android:name=".bioskop.CariBioskop" />
        <activity android:name=".Kesehatan.DetilKesehatan" />
        <activity android:name=".Pendidikan.CariPendidikan" />
        <activity android:name=".Pendidikan.DetilPendidikan" />
        <activity android:name=".Kuliner.DataSaringActivity" />
        <activity android:name=".Pendidikan.DataSaringPendidikanActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".Kuliner.TampilJenisMakanan" />
        <activity android:name=".LoginActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".Tukang.DetilTukang" />
        <activity android:name=".Tukang.CariTukang" />
        <activity android:name=".Tukang.TampilTukangByJenis" />
        <activity android:name=".Kuliner.DetailMap" />
        <activity android:name=".Pendidikan.DetilMapPendidikan" />
        <activity
            android:name=".Tukang.MenuTukang"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Tukang.DetailMapTukang" />
        <activity android:name=".Tukang.DataSaringTukangActivity" />
        <activity android:name=".Pariwisata.DetilPariwisata" />
        <activity android:name=".Pariwisata.CariPariwisata" />
        <activity android:name=".Pariwisata.TampilPariwisataByJenis" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity android:name=".Kuliner.CariKuliner" />
        <activity android:name=".Kuliner.TampilKulinerByJenis" />
        <activity android:name=".Pendidikan.TampilPendidikanByJenis" />
        <activity android:name=".Kuliner.DetilKuliner" />
        <activity android:name=".Kesehatan.TampilKesehatanByJenis" />
        <activity
            android:name=".Pariwisata.MenuPariwisata"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Pariwisata.DetilMapPariwisata" />
        <activity android:name=".Bank.CariBank" />
        <activity android:name=".Pariwisata.DataSaringPariwisataActivity" />
        <activity android:name=".Kesehatan.CariKesehatan" />
        <activity
            android:name=".Kesehatan.MenuKesehatan"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Kesehatan.DetilMapKesehatan" />
        <activity android:name=".Kesehatan.DataSaringKesehatanActivity" />
        <activity
            android:name=".Pendidikan.MenuPendidikan"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Kuliner.MenuKuliner"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FasilitasUmum.MenuFasilitasUmum"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Bank.MenuBank"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Bank.DetilMapBank" />
        <activity
            android:name=".bioskop.MenuBioskop"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".bioskop.DetilMapBioskop" />
        <activity
            android:name=".Hotel.MenuHotel"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Hotel.DetilMapHotel" />
        <activity
            android:name=".Koperasi.MenuKoperasi"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Koperasi.DetilMapKoperasi" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>